<div class="ion-padding">
  <h1>Your Bookmarks</h1>
  <app-loading *ngIf="loading"></app-loading>
  <app-message></app-message>
  <div *ngIf="data.length > 0">
    <ion-list>
      <ion-item *ngFor="let item of data" class="item">
        <ion-thumbnail slot="start">
          <ion-img
            src="{{ item.photo }}"
            (click)="openImage(item.photo)"
          ></ion-img>
        </ion-thumbnail>
        <ion-label (click)="openBook(item.book)">
          <h1>{{ item.book.title }}</h1>
          <p>{{ item.book.author }}</p>
          <p>Pages: {{ item.book.pages }}</p>
          <p>Views: {{ item.book.views }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <app-not-found
    message="Bookmarks Not Found"
    *ngIf="data.length <= 0 && !loading"
  ></app-not-found>
</div>
