<div class="ion-padding">
  <div class="top-picks">
    <!-- <ion-progress-bar
      *ngIf="bookService.loading"
      type="indeterminate"
      color="green"
    ></ion-progress-bar> -->
    <h1 class="text-center" *ngIf="bookService.loading">
      <app-loading></app-loading>
    </h1>
    <div *ngIf="topPicks.length > 0">
      <h1>Our Top Picks</h1>
      <app-message></app-message>
      <ion-slides [options]="topPickOpts">
        <ion-slide *ngFor="let item of topPicks">
          <ion-card class="ion-text-center">
            <ion-thumbnail (click)="openImage(item.photo)">
              <ion-img [src]="item.photo"></ion-img>
            </ion-thumbnail>
            <ion-card-header (click)="openBook(item)">
              <ion-card-title>{{ item.title }}</ion-card-title>
              <p>{{ item.author }}</p>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
  </div>

  <div class="newsletter" *ngIf="!bookService.loading">
    <h1>Monthly Newletter</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Recieve our monthly newsletter and recieve
          updates.</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-button size="default" color="green">Sign up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</div>
