<div class="ion-padding">
  <div class="top-picks">
    <h1>Our Top Picks</h1>
    <ion-slides [options]="topPickOpts">
      <ion-slide>
        <ion-card class="ion-text-center">
          <ion-thumbnail>
            <ion-img src="assets/images/books/fatherhood.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>Fatherhood</ion-card-title>
            <p>Markus Berkmann</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-thumbnail>
            <ion-img src="assets/images/books/emilyzola.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>
              The Disappearance of Emilia Zola
            </ion-card-title>
            <p>Michael Rosen</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-thumbnail>
            <ion-img src="assets/images/books/bestintime.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>The Time Travellers</ion-card-title>
            <p>Stride Lotte</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="best-seller">
    <h1>Best Seller</h1>
    <ion-slides [options]="bestSellerOpts">
      <ion-slide>
        <ion-card class="ion-text-center">
          <ion-thumbnail>
            <ion-img src="assets/images/books/fatherhood.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>Fatherhood</ion-card-title>
            <p>Markus Berkmann</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-thumbnail>
            <ion-img src="assets/images/books/emilyzola.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>
              The Disappearance of Emilia Zola
            </ion-card-title>
            <p>Michael Rosen</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-thumbnail>
            <ion-img src="assets/images/books/bestintime.jpg"></ion-img>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title>The Time Travellers</ion-card-title>
            <p>Stride Lotte</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="newsletter">
    <h1>Monthly Newletter</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle
          >Recieve our monthly newsletter and recieve
          updates.</ion-card-subtitle
        >
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-button size="default" color="green">Sign up</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</div>
